body {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #1f1c1c;
    
}

canvas {
    max-width: 330px; /* A kívánt szélesség */
    width: 100%;
}

.ips li:hover {
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}

.content-container {
    /*display: none;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.ip-listt {
    display : flex;
    flex: 1;
    margin-top: 20px; /* Add some space above the IP list */
    color: white; /* Set the text color to white */
}

.ip-listt h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ip-listt ul {
    list-style-type: none;
    padding: 0;
}

.ip-listt li {
    margin-bottom: 5px;
}

.welcome-message {
    display: none;
    font-size: 3em;
    color: white;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;

}

.list{
    color: yellow;
}

.chart-box {
    background: #f4f4f4; /* Világosszürke háttér */
    padding: 20px; /* Belső térköz */
    border-radius: 10px; /* Lekerekített sarkok */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10%;
    margin-left: 10%;

}

.chart-row {
    display: flex;
    gap: 20px;
    justify-content: center; /* Középre igazítás */
}

.box {
    width: auto;
    height: auto;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 30%;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.loader {
    position: fixed;
    left: 54%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
    z-index: 1000;
    display: none;
}

#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 70%-os sötétítés */
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1500;
}

#ip-list {
    display: flex;
    gap: 10px;
}

.ip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
}

.ip-element {
    font-weight: bold;
}

.battery-element,
.panel-element,
.wifi-element {
    margin-top: 5px;
}

#selected-ip-data {
    position: absolute;
    top: 200px;
    left: 10px;
    z-index: 1500;
    color: white;
}

.param-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 100%;
}

.param-table td {
    border: 1px solid white;
    padding: 5px;
}

.error-display {
    position: absolute;
    top: 500px;
    left: 10px;
    z-index: 1500;
    color: red;
    display: none;
}

.error-message {
    margin-bottom: 5px;
}

.weblap-settings{
    margin-left: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}